/*  your css code here. If applicable */
body{
	margin:0;
	height: 100vh;
}

#line {
	position: absolute;
	width: 200px;
	height: 2px;
	background-color: #000000;

	top: 50%;
	left: 50%;

	transform:translate(-50%,-50%);
	
}
rotateline();
setInterval(rotateLine, 20);